@import "@styles/settings/_settings";

.homeContainer {
  display: flex;
}

.checklist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.radio {

  display: flex;
  align-items: center;
  margin: .5em 0;

  input:checked + span {
    background: $color-blue-medium;
    border: solid 2px $color-blue-medium;
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border: solid 2px gray;
    border-radius: 99px;
    padding: .1em;
    margin-right: .4em;
  }

  svg {
    color: white;
    width: 100%;
  }

}

.sidebar {

  width: 20em;

  [type="search"] {
    display: block;
    color: black;
    font-size: 1em;
    background: white;
    padding: .5em .8em;
    border: solid 2px gray;
    border-radius: .2em;
  }

}

.sidebarSection {

  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.2em;
  }

}

.products {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 4em;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}

.productImageWrapper {
  display: flex;
  align-items: center;
  aspect-ratio: 600 / 600;
  padding: 1em;
}

.productsTitle {
  font-size: 1.1em;
  margin: 1em 0 0;
}

.productRating {

  display: flex;
  align-items: center;
  font-size: .9em;
  margin: 1em 0 0;

  svg {
    color: #f1aa02;
    margin-right: .3em;
  }

}

.productPrice {
  font-size: 1.2em;
  margin: .7em 0 0;
}

